<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> Home</a>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="register-form">
          <h2>Register</h2>
          <form [formGroup]="registerForm">
            <div class="group-input">
              <label for="username">Username or email address *</label>
              <input type="text" id="username" formControlName="email"/>
            </div>
            <div class="group-input">
              <label for="pass">Password *</label>
              <input type="password" id="pass" formControlName="password"/>
            </div>
            <!-- <div class="group-input">
              <label for="con-pass">Confirm Password *</label>
              <input type="text" id="con-pass" />
            </div> -->
            <button type="submit" class="site-btn register-btn" (click)="onSubmit()">
              REGISTER
            </button>
          </form>
          <div class="switch-login">
            <a routerLink="/login" class="or-login">Or Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Form Section End -->


