<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hero-items owl-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div
        class="owl-stage"
        style="
          transform: translate3d(-3978px, 0px, 0px);
          transition: all 0s ease 0s;
          width: 7956px;
        "
      >
        <div
          class="owl-item animated owl-animated-in fadeIn cloned"
          style="width: 1326px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="img/hero-1.jpg"
            style="background-image: url('img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1326px">
          <div
            class="single-hero-items set-bg"
            data-setbg="assets/img/hero-2.jpg"
            style="background-image: url('assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1326px">
          <div
            class="single-hero-items set-bg"
            data-setbg="assets/img/hero-1.jpg"
            style="background-image: url('assets/img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div
          class="owl-item animated owl-animated-in fadeIn active"
          style="width: 1326px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="assets/img/hero-2.jpg"
            style="background-image: url('assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div
          class="owl-item animated owl-animated-in fadeIn cloned"
          style="width: 1326px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="assets/img/hero-1.jpg"
            style="background-image: url('assets/img/hero-1.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div
          class="owl-item animated owl-animated-in fadeIn cloned"
          style="width: 1326px"
        >
          <div
            class="single-hero-items set-bg"
            data-setbg="assets/img/hero-2.jpg"
            style="background-image: url('assets/img/hero-2.jpg')"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <button type="button" role="presentation" class="owl-prev">
        <i class="ti-angle-left"></i></button
      ><button type="button" role="presentation" class="owl-next">
        <i class="ti-angle-right"></i>
      </button>
    </div>
    <div class="owl-dots disabled"></div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="assets/img/banner-1.jpg" alt="" />
          <div class="inner-text">
            <h4>Men’s</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="assets/img/banner-2.jpg" alt="" />
          <div class="inner-text">
            <h4>Women’s</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="assets/img/banner-3.jpg" alt="" />
          <div class="inner-text">
            <h4>Kid’s</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Women Banner Section Begin -->
<section class="women-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div
          class="product-large set-bg"
          data-setbg="assets/img/products/women-large.jpg"
          style="background-image: url('assets/img/products/women-large.jpg')"
        >
          <h2>Women’s</h2>
          <a href="#">Discover More</a>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="filter-control">
          <ul>
            <li class="active">Clothings</li>
            <li>HandBag</li>
            <li>Shoes</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="product-slider owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-792px, 0px, 0px);
                transition: all 1.2s ease 0s;
                width: 2642px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/women-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev">
              <i class="ti-angle-left"></i></button
            ><button type="button" role="presentation" class="owl-next">
              <i class="ti-angle-right"></i>
            </button>
          </div>
          <div class="owl-dots">
            <button role="button" class="owl-dot active"><span></span></button
            ><button role="button" class="owl-dot"><span></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Women Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section
  class="deal-of-week set-bg spad"
  data-setbg="assets/img/time-bg.jpg"
  style="background-image: url('assets/img/time-bg.jpg')"
>
  <div class="container">
    <div class="col-lg-6 text-center">
      <div class="section-title">
        <h2>Deal Of The Week</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br />
          do ipsum dolor sit amet, consectetur adipisicing elit
        </p>
        <div class="product-price">
          $35.00
          <span>/ HanBag</span>
        </div>
      </div>
      <div class="countdown-timer" id="countdown">
        <div class="cd-item">
          <span>27</span>
          <p>Days</p>
        </div>
        <div class="cd-item">
          <span>12</span>
          <p>Hrs</p>
        </div>
        <div class="cd-item">
          <span>50</span>
          <p>Mins</p>
        </div>
        <div class="cd-item">
          <span>23</span>
          <p>Secs</p>
        </div>
      </div>
      <a href="#" class="primary-btn">Shop Now</a>
    </div>
  </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Man Banner Section Begin -->
<section class="man-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="filter-control">
          <ul>
            <li class="active">Clothings</li>
            <li>HandBag</li>
            <li>Shoes</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="product-slider owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-792px, 0px, 0px);
                transition: all 1.2s ease 0s;
                width: 2642px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-4.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-1.jpg" alt="" />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-2.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 239.109px; margin-right: 25px"
              >
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="assets/img/products/man-3.jpg" alt="" />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#"><i class="icon_bag_alt"></i></a>
                      </li>
                      <li class="quick-view"><a href="#">+ Quick View</a></li>
                      <li class="w-icon">
                        <a href="#"><i class="fa fa-random"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev">
              <i class="ti-angle-left"></i></button
            ><button type="button" role="presentation" class="owl-next">
              <i class="ti-angle-right"></i>
            </button>
          </div>
          <div class="owl-dots">
            <button role="button" class="owl-dot active"><span></span></button
            ><button role="button" class="owl-dot"><span></span></button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div
          class="product-large set-bg m-large"
          data-setbg="assets/img/products/man-large.jpg"
          style="background-image: url('assets/img/products/man-large.jpg')"
        >
          <h2>Men’s</h2>
          <a href="#">Discover More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Man Banner Section End -->

<!-- Instagram Section Begin -->
<div class="instagram-photo">
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-1.jpg"
    style="background-image: url('assets/img/insta-1.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-2.jpg"
    style="background-image: url('assets/img/insta-2.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-3.jpg"
    style="background-image: url('assets/img/insta-3.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-4.jpg"
    style="background-image: url('assets/img/insta-4.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-5.jpg"
    style="background-image: url('assets/img/insta-5.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div
    class="insta-item set-bg"
    data-setbg="assets/img/insta-6.jpg"
    style="background-image: url('assets/img/insta-6.jpg')"
  >
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
</div>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>From The Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-1.jpg" alt="" />
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>The Best Street Style From London Fashion Week</h4>
            </a>
            <p>
              Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-2.jpg" alt="" />
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
            </a>
            <p>
              Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-3.jpg" alt="" />
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
            </a>
            <p>
              Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="benefit-items">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-1.png" alt="" />
            </div>
            <div class="sb-text">
              <h6>Free Shipping</h6>
              <p>For all order over 99$</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-2.png" alt="" />
            </div>
            <div class="sb-text">
              <h6>Delivery On Time</h6>
              <p>If good have prolems</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-1.png" alt="" />
            </div>
            <div class="sb-text">
              <h6>Secure Payment</h6>
              <p>100% secure payment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
  <div class="container">
    <div class="logo-carousel owl-carousel owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transform: translate3d(0px, 0px, 0px);
            transition: all 0s ease 0s;
            width: 1170px;
          "
        >
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 204px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev">
          <i class="ti-angle-left"></i></button
        ><button type="button" role="presentation" class="owl-next">
          <i class="ti-angle-right"></i>
        </button>
      </div>
      <div class="owl-dots disabled"></div>
    </div>
  </div>
</div>
<!-- Partner Logo Section End -->

<!-- Footer Section End -->

<!-- Js Plugins -->
