<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
  <div class="card" id="htmlData">
    <div class="card-header p-4">
      <a class="pt-2 d-inline-block" href="index.html" data-abc="true"
        >BBBootstrap.com</a
      >
      <div class="float-right">
        <h3 class="mb-0">Invoice #BBB10234</h3>
        Date: 12 Jun,2019
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6">
          <h5 class="mb-3">From:</h5>
          <h3 class="text-dark mb-1">Tejinder Singh</h3>
          <div>29, Singla Street</div>
          <div>Sikeston,New Delhi 110034</div>
          <div>Email: contact@bbbootstrap.com</div>
          <div>Phone: +91 9897 989 989</div>
        </div>
        <div class="col-sm-6">
          <h5 class="mb-3">To:</h5>
          <h3 class="text-dark mb-1">
            {{ userconnect.firstname }} {{ userconnect.lastname }}
          </h3>
          <div>478, Nai Sadak</div>
          <div>Chandni chowk, New delhi, 110006</div>
          <div>Email: {{ userconnect.email }}</div>
          <div>Phone: +91 9895 398 009</div>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="center">#</th>
              <th>Item</th>
              <th>Description</th>
              <th class="right">Price</th>
              <th class="center">Qty</th>
              <th class="right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of items; let index = index">
              <td class="center">{{ index + 1 }}</td>
              <td class="left strong">{{ i.name }}</td>
              <td class="left">{{ i.description }}</td>
              <td class="right">{{ i.prix }}</td>
              <td class="center">{{ i.quantite }}</td>
              <td class="right">{{ i.prix * i.quantite }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-5"></div>
        <div class="col-lg-4 col-sm-5 ml-auto">
          <table class="table table-clear">
            <tbody>
              <tr>
                <td class="left">
                  <strong class="text-dark">Subtotal</strong>
                </td>
                <td class="right">{{ calcul() }}</td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">Discount (20%)</strong>
                </td>
                <td class="right">{{ (calcul() / 100) * 20 }}</td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">VAT (10%)</strong>
                </td>
                <td class="right">{{ (calcul() / 100) * 10 }}</td>
              </tr>
              <tr>
                <td class="left">
                  <strong class="text-dark">Total</strong>
                </td>
                <td class="right">
                  <strong class="text-dark">{{ facture() }}</strong>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <p class="mb-0">BBBootstrap.com, Sounth Block, New delhi, 110034</p>
    </div>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>
</div>
