<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> Home</a>
          <span>Shop</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
  
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter"
      >
        <div class="filter-widget">
          <h4 class="fw-title">Categories</h4>
          <ul class="filter-catagories" *ngFor="let i of listcategory">
            <li>
              <input
                type="checkbox"
                [value]="i.name"
                (change)="OnChangeCategory($event)"
              />
              &nbsp;
              <a>{{ i.name }}</a>
            </li>
          </ul>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Brand</h4>
          <div class="fw-brand-check">
            <div class="bc-item">
              <label for="bc-calvin">
                Calvin Klein
                <input type="checkbox" id="bc-calvin" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-diesel">
                Diesel
                <input type="checkbox" id="bc-diesel" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-polo">
                Polo
                <input type="checkbox" id="bc-polo" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-tommy">
                Tommy Hilfiger
                <input type="checkbox" id="bc-tommy" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Price</h4>
          <div class="filter-range-wrap">
            <!-- <form [formGroup]="filterForm"> -->
            <div class="range-slider">
              <div class="price-input">
                <input type="text" id="minamount" formControlName="minValue"/>
                <input type="text" id="maxamount" formControlName="maxValue"/>
              </div>
            </div>
            <!-- </form> -->
            <ng5-slider
              [(ngModel)]="priceSelection" [(value)]="minValue" [(highValue)]="maxValue"
              [options]="options" (mouseup)="changePrice()"
            ></ng5-slider>
            <div
              class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
              data-min="33"
              data-max="98"
            >
              <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
              <span
                tabindex="0"
                class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 0%"
              ></span>
              <span
                tabindex="0"
                class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 100%"
              ></span>
              <div
                class="ui-slider-range ui-corner-all ui-widget-header"
                style="left: 0%; width: 100%"
              ></div>
            </div>
          </div>
          <a type="button" class="filter-btn" >Filter</a>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Color</h4>
          <div class="fw-color-choose">
            <div class="cs-item">
              <input
                type="radio"
                id="cs-black"
                value="Black"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-black" for="cs-black">Black</label>
            </div>
            <div class="cs-item">
              <input
                type="radio"
                id="cs-violet"
                value="Violet"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-violet" for="cs-violet">Violet</label>
            </div>
            <div class="cs-item">
              <input
                type="radio"
                id="cs-blue"
                value="Blue"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-blue" for="cs-blue">Blue</label>
            </div>
            <div class="cs-item">
              <input
                type="radio"
                id="cs-yellow"
                value="Yellow"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-yellow" for="cs-yellow">Yellow</label>
            </div>
            <div class="cs-item">
              <input
                type="radio"
                id="cs-red"
                value="Red"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-red" for="cs-red">Red</label>
            </div>
            <div class="cs-item">
              <input
                type="radio"
                id="cs-green"
                value="Green"
                (change)="OnChangecolor($event)"
              />
              <label class="cs-green" for="cs-green">Green</label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Size</h4>
          <div class="fw-size-choose">
            <div class="sc-item">
              <input type="radio" id="s-size" />
              <label for="s-size">s</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="m-size" />
              <label for="m-size">m</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="l-size" />
              <label for="l-size">l</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="xs-size" />
              <label for="xs-size">xs</label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Tags</h4>
          <div class="fw-tags">
            <a href="#">Towel</a>
            <a href="#">Shoes</a>
            <a href="#">Coat</a>
            <a href="#">Dresses</a>
            <a href="#">Trousers</a>
            <a href="#">Men's hats</a>
            <a href="#">Backpack</a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 order-1 order-lg-2">
        <div class="product-show-option">
          <div class="row">
            <div class="col-lg-7 col-md-7">
              <div class="select-option">
                <select class="sorting" style="display: none">
                  <option value="">Default Sorting</option>
                </select>
                <div class="nice-select sorting" tabindex="0">
                  <span class="current">Default Sorting</span>
                  <ul class="list">
                    <li data-value="" class="option selected">
                      Default Sorting
                    </li>
                  </ul>
                </div>
                <select class="p-show" style="display: none">
                  <option value="">Show:</option>
                </select>
                <div class="nice-select p-show" tabindex="0">
                  <span class="current">Show:</span>
                  <ul class="list">
                    <li data-value="" class="option selected">Show:</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 text-right">
              <p>Show 01- 09 Of 36 Product</p>
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="row">
            <div
              class="col-lg-4 col-sm-6"
              *ngFor="let product of listproduct; let index = index"
            >
              <div class="product-item">
                <div class="pi-pic">
                  <img
                    src="http://localhost:3000/getfile/{{
                      product.galleries[0].name
                    }}"
                    alt=""
                    [routerLink]="['/detailproduct', product._id]"
                  />
                  <div class="sale pp-sale">Sale</div>
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#"><i class="icon_bag_alt"></i></a>
                    </li>
                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                    <li class="w-icon">
                      <a routerLink="/detailproduct"
                        ><i class="fa fa-random"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">
                    {{ product.subcategory.name }}
                  </div>
                  <a [routerLink]="['/detailproduct', product._id]">
                    <h5>{{ product.name }}</h5>
                  </a>
                  <a href="#">
                    <p>{{ product.description }}</p>
                  </a>
                  <div class="product-price">
                    {{ product.prix }}
                    <span>$35.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="loading-more">
          <i class="icon_loading"></i>
          <a href="#"> Loading More </a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Product Shop Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
  <div class="container">
    <div class="logo-carousel owl-carousel owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transform: translate3d(0px, 0px, 0px);
            transition: all 0s ease 0s;
            width: 720px;
          "
        >
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev">
          <i class="ti-angle-left"></i></button
        ><button type="button" role="presentation" class="owl-next">
          <i class="ti-angle-right"></i>
        </button>
      </div>
      <div class="owl-dots disabled"></div>
    </div>
  </div>
</div>
<!-- Partner Logo Section End -->
