<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a href="./home.html"><i class="fa fa-home"></i> Home</a>
          <a href="./shop.html">Shop</a>
          <span>Detail</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="filter-widget">
          <h4 class="fw-title">Categories</h4>
          <ul class="filter-catagories">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
          </ul>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Brand</h4>
          <div class="fw-brand-check">
            <div class="bc-item">
              <label for="bc-calvin">
                Calvin Klein
                <input type="checkbox" id="bc-calvin" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-diesel">
                Diesel
                <input type="checkbox" id="bc-diesel" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-polo">
                Polo
                <input type="checkbox" id="bc-polo" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="bc-item">
              <label for="bc-tommy">
                Tommy Hilfiger
                <input type="checkbox" id="bc-tommy" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Price</h4>
          <div class="filter-range-wrap">
            <div class="range-slider">
              <div class="price-input">
                <input type="text" id="minamount" />
                <input type="text" id="maxamount" />
              </div>
            </div>
            <div
              class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
              data-min="33"
              data-max="98"
            >
              <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
              <span
                tabindex="0"
                class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 0%"
              ></span>
              <span
                tabindex="0"
                class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 100%"
              ></span>
              <div
                class="ui-slider-range ui-corner-all ui-widget-header"
                style="left: 0%; width: 100%"
              ></div>
            </div>
          </div>
          <a href="#" class="filter-btn">Filter</a>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Color</h4>
          <div class="fw-color-choose">
            <div class="cs-item">
              <input type="radio" id="cs-black" />
              <label class="cs-black" for="cs-black">Black</label>
            </div>
            <div class="cs-item">
              <input type="radio" id="cs-violet" />
              <label class="cs-violet" for="cs-violet">Violet</label>
            </div>
            <div class="cs-item">
              <input type="radio" id="cs-blue" />
              <label class="cs-blue" for="cs-blue">Blue</label>
            </div>
            <div class="cs-item">
              <input type="radio" id="cs-yellow" />
              <label class="cs-yellow" for="cs-yellow">Yellow</label>
            </div>
            <div class="cs-item">
              <input type="radio" id="cs-red" />
              <label class="cs-red" for="cs-red">Red</label>
            </div>
            <div class="cs-item">
              <input type="radio" id="cs-green" />
              <label class="cs-green" for="cs-green">Green</label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Size</h4>
          <div class="fw-size-choose">
            <div class="sc-item">
              <input type="radio" id="s-size" />
              <label for="s-size">s</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="m-size" />
              <label for="m-size">m</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="l-size" />
              <label for="l-size">l</label>
            </div>
            <div class="sc-item">
              <input type="radio" id="xs-size" />
              <label for="xs-size">xs</label>
            </div>
          </div>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">Tags</h4>
          <div class="fw-tags">
            <a href="#">Towel</a>
            <a href="#">Shoes</a>
            <a href="#">Coat</a>
            <a href="#">Dresses</a>
            <a href="#">Trousers</a>
            <a href="#">Men's hats</a>
            <a href="#">Backpack</a>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="product-pic-zoom"
              style="position: relative; overflow: hidden"
            >
              <img
                class="product-big-img"
                src="http://localhost:3000/getfile/{{ list.galleries[0].name }}"
                alt=""
              />
              <div class="zoom-icon">
                <i class="fa fa-search-plus"></i>
              </div>
              <img
                role="presentation"
                alt=""
                src="http://localhost:3000/getfile/{{ list.galleries[0].name }}"
                class="zoomImg"
                style="
                  position: absolute;
                  top: -9.3289px;
                  left: -25.841px;
                  opacity: 0;
                  width: 440px;
                  height: 520px;
                  border: none;
                  max-width: none;
                  max-height: none;
                "
              />
            </div>
            <div class="product-thumbs">
              <div
                class="product-thumbs-track ps-slider owl-carousel owl-loaded owl-drag"
              >
                <div class="owl-stage-outer">
                  <div
                    class="owl-stage"
                    style="
                      transform: translate3d(-233px, 0px, 0px);
                      transition: all 0s ease 0s;
                      width: 934px;
                    "
                  >
                    <div
                      class="owl-item"
                      style="width: 223.333px; margin-right: 10px"
                    >
                      <div
                        class="pt active"
                        data-imgbigurl="assets/img/product-single/product-1.jpg"
                      >
                        <img
                          src="assets/img/product-single/product-1.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 223.333px; margin-right: 10px"
                    >
                      <div
                        class="pt"
                        data-imgbigurl="assets/img/product-single/product-2.jpg"
                      >
                        <img
                          src="http://localhost:3000/getfile/{{
                            list.galleries[1].name
                          }}"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 223.333px; margin-right: 10px"
                    >
                      <div
                        class="pt"
                        data-imgbigurl="assets/img/product-single/product-3.jpg"
                      >
                        <img
                          src="assets/img/product-single/product-3.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 223.333px; margin-right: 10px"
                    >
                      <div
                        class="pt"
                        data-imgbigurl="assets/img/product-single/product-3.jpg"
                      >
                        <img
                          src="assets/img/product-single/product-3.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-nav">
                  <button type="button" role="presentation" class="owl-prev">
                    <i class="fa fa-angle-left"></i></button
                  ><button
                    type="button"
                    role="presentation"
                    class="owl-next disabled"
                  >
                    <i class="fa fa-angle-right"></i>
                  </button>
                </div>
                <div class="owl-dots disabled"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-details">
              <div class="pd-title">
                <span>SubCategory :{{ list.subcategory.name }}</span>
                <span>Category :{{ list.subcategory.name }}</span>
                <h3>{{ list.name }}</h3>
                <a href="#" class="heart-icon"
                  ><i class="icon_heart_alt"></i
                ></a>
              </div>
              <div class="pd-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>(5)</span>
              </div>
              <div class="pd-desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur ing elit, sed do
                  eiusmod tempor sum dolor sit amet, consectetur adipisicing
                  elit, sed do mod tempor
                </p>
                <h4>$495.00 <span>629.99</span></h4>
              </div>
              <div class="pd-color">
                <h6>Color</h6>
                <div class="pd-color-choose">
                  <div class="cc-item">
                    <input type="radio" id="cc-black" />
                    <label for="cc-black"></label>
                  </div>
                  <div class="cc-item">
                    <input type="radio" id="cc-yellow" />
                    <label for="cc-yellow" class="cc-yellow"></label>
                  </div>
                  <div class="cc-item">
                    <input type="radio" id="cc-violet" />
                    <label for="cc-violet" class="cc-violet"></label>
                  </div>
                </div>
              </div>
              <div class="pd-size-choose">
                <div class="sc-item">
                  <input type="radio" id="sm-size" />
                  <label for="sm-size">s</label>
                </div>
                <div class="sc-item">
                  <input type="radio" id="md-size" />
                  <label for="md-size">m</label>
                </div>
                <div class="sc-item">
                  <input type="radio" id="lg-size" />
                  <label for="lg-size">l</label>
                </div>
                <div class="sc-item">
                  <input type="radio" id="xl-size" />
                  <label for="xl-size">xs</label>
                </div>
              </div>
              <div class="quantity">
                <div class="pro-qty">
                  <span class="dec qtybtn" (click)="deleteproduct()">-</span>
                  <input type="text" value="{{ x }}" appQuantityproduct [qte]="list.quantite" [qteuser]="x"/>
                  <span class="inc qtybtn" (click)="addproduct()">+</span>
                </div>
                <a class="primary-btn pd-cart" (click)="addToCart(list)"
                  >Add To Cart</a
                >
              </div>
              <ul class="pd-tags">
                <li>
                  <span>CATEGORIES</span>: More Accessories, Wallets &amp; Cases
                </li>
                <li><span>TAGS</span>: Clothing, T-shirt, Woman</li>
              </ul>
              <div class="pd-share">
                <div class="p-code">Sku : {{list.quantite}}</div>
                <div class="pd-social">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-tab">
          <div class="tab-item">
            <ul class="nav" role="tablist">
              <li>
                <a
                  class="active"
                  data-toggle="tab"
                  href="#tab-1"
                  role="tab"
                  aria-selected="true"
                  >DESCRIPTION</a
                >
              </li>
              <li>
                <a
                  data-toggle="tab"
                  href="#tab-2"
                  role="tab"
                  class=""
                  aria-selected="false"
                  >SPECIFICATIONS</a
                >
              </li>
              <li>
                <a
                  data-toggle="tab"
                  href="#tab-3"
                  role="tab"
                  class=""
                  aria-selected="false"
                  >Customer Reviews (02)</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-item-content">
            <div class="tab-content">
              <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                <div class="product-content">
                  <div class="row">
                    <div class="col-lg-7">
                      <h5>Introduction</h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in
                      </p>
                      <h5>Features</h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in
                      </p>
                    </div>
                    <div class="col-lg-5">
                      <img
                        src="assets/img/product-single/tab-desc.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-2" role="tabpanel">
                <div class="specification-table">
                  <table>
                    <tbody>
                      <tr>
                        <td class="p-catagory">Customer Rating</td>
                        <td>
                          <div class="pd-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(5)</span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Price</td>
                        <td>
                          <div class="p-price">$495.00</div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Add To Cart</td>
                        <td>
                          <div class="cart-add">+ add to cart</div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Availability</td>
                        <td>
                          <div class="p-stock">22 in stock</div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Weight</td>
                        <td>
                          <div class="p-weight">1,3kg</div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Size</td>
                        <td>
                          <div class="p-size">Xxl</div>
                        </td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Color</td>
                        <td><span class="cs-color"></span></td>
                      </tr>
                      <tr>
                        <td class="p-catagory">Sku</td>
                        <td>
                          <div class="p-code">00012</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-3" role="tabpanel">
                <div class="customer-review-option">
                  <h4>2 Comments</h4>
                  <div class="comment-option">
                    <div class="co-item">
                      <div class="avatar-pic">
                        <img
                          src="assets/img/product-single/avatar-1.png"
                          alt=""
                        />
                      </div>
                      <div class="avatar-text">
                        <div class="at-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <h5>Brandon Kelley <span>27 Aug 2019</span></h5>
                        <div class="at-reply">Nice !</div>
                      </div>
                    </div>
                    <div class="co-item">
                      <div class="avatar-pic">
                        <img
                          src="assets/img/product-single/avatar-2.png"
                          alt=""
                        />
                      </div>
                      <div class="avatar-text">
                        <div class="at-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <h5>Roy Banks <span>27 Aug 2019</span></h5>
                        <div class="at-reply">Nice !</div>
                      </div>
                    </div>
                  </div>
                  <div class="personal-rating">
                    <h6>Your Ratind</h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                  <div class="leave-comment">
                    <h4>Leave A Comment</h4>
                    <form action="#" class="comment-form">
                      <div class="row">
                        <div class="col-lg-6">
                          <input type="text" placeholder="Name" />
                        </div>
                        <div class="col-lg-6">
                          <input type="text" placeholder="Email" />
                        </div>
                        <div class="col-lg-12">
                          <textarea placeholder="Messages"></textarea>
                          <button type="submit" class="site-btn">
                            Send message
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Shop Section End -->

<!-- Related Products Section End -->
<div class="related-products spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Related Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="assets/img/products/women-1.jpg" alt="" />
            <div class="sale">Sale</div>
            <div class="icon">
              <i class="icon_heart_alt"></i>
            </div>
            <ul>
              <li class="w-icon active">
                <a href="#"><i class="icon_bag_alt"></i></a>
              </li>
              <li class="quick-view"><a href="#">+ Quick View</a></li>
              <li class="w-icon">
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul>
          </div>
          <div class="pi-text">
            <div class="catagory-name">Coat</div>
            <a href="#">
              <h5>Pure Pineapple</h5>
            </a>
            <div class="product-price">
              $14.00
              <span>$35.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="assets/img/products/women-2.jpg" alt="" />
            <div class="icon">
              <i class="icon_heart_alt"></i>
            </div>
            <ul>
              <li class="w-icon active">
                <a href="#"><i class="icon_bag_alt"></i></a>
              </li>
              <li class="quick-view"><a href="#">+ Quick View</a></li>
              <li class="w-icon">
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul>
          </div>
          <div class="pi-text">
            <div class="catagory-name">Shoes</div>
            <a href="#">
              <h5>Guangzhou sweater</h5>
            </a>
            <div class="product-price">$13.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="assets/img/products/women-3.jpg" alt="" />
            <div class="icon">
              <i class="icon_heart_alt"></i>
            </div>
            <ul>
              <li class="w-icon active">
                <a href="#"><i class="icon_bag_alt"></i></a>
              </li>
              <li class="quick-view"><a href="#">+ Quick View</a></li>
              <li class="w-icon">
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul>
          </div>
          <div class="pi-text">
            <div class="catagory-name">Towel</div>
            <a href="#">
              <h5>Pure Pineapple</h5>
            </a>
            <div class="product-price">$34.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="assets/img/products/women-4.jpg" alt="" />
            <div class="icon">
              <i class="icon_heart_alt"></i>
            </div>
            <ul>
              <li class="w-icon active">
                <a href="#"><i class="icon_bag_alt"></i></a>
              </li>
              <li class="quick-view"><a href="#">+ Quick View</a></li>
              <li class="w-icon">
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul>
          </div>
          <div class="pi-text">
            <div class="catagory-name">Towel</div>
            <a href="#">
              <h5>Converse Shoes</h5>
            </a>
            <div class="product-price">$34.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Related Products Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
  <div class="container">
    <div class="logo-carousel owl-carousel owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transform: translate3d(0px, 0px, 0px);
            transition: all 0s ease 0s;
            width: 720px;
          "
        >
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 114px; margin-right: 30px">
            <div class="logo-item">
              <div class="tablecell-inner">
                <img src="assets/img/logo-carousel/logo-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev">
          <i class="ti-angle-left"></i></button
        ><button type="button" role="presentation" class="owl-next">
          <i class="ti-angle-right"></i>
        </button>
      </div>
      <div class="owl-dots disabled"></div>
    </div>
  </div>
</div>
<!-- Partner Logo Section End -->
